/*---------- Variables ----------*/

$font-header:  'Times new roman';
$font-text:   'Raleway', sans-serif;

$color-one: #17daa3;
$color-two: #576671;
$color-three: #f9f9fa;

$color-text-light: #ffffff;
$color-text-light2: #87949e;
$color-text-dark: #2c2c54;

$transition: all 0.5s;

/*---------- Global ----------*/

*, *::before, *::after {
        box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-text-dark;
}

.container {
    max-width: 1400px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-h {
    justify-content: center;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-3 {
    flex: 0 0 25%;
}

.col-6 {
    flex: 0 0 50%;
}

a {
    text-decoration: none;
    color: $color-text-light; 
}

.section-title {
    font-size: 60px;  
    color: $color-two;
    font-weight: 200;
    margin: 110px auto 0 auto;
}

.container>h2 {
    position: relative;
    margin-bottom: 40px;
    
    &:after {
        position: absolute;
        content: '';
        bottom: -10px;
        left: 50%;
        width: 30px;
        height: 1px;
        transform: translateX(-50%);
        background: $color-one;
    }
}

.container>p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto 150px auto;
    color: $color-text-light2;
}

.btn {
    font-weight: 600;
    color: $color-text-light;
    display: inline-block;
    min-width: 183px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 22px;
    border: 2px solid $color-text-light;
}

.btn-one {
    background: none;
    border-color: $color-text-light;
    transition: $transition;

    &:hover {
        background: $color-one;
        border-color: $color-one;
    }
}

.btn-two {
    background: $color-one;
    border-color: $color-one;
    margin: 0 auto;
    transition: $transition;

    &:hover {
        background: none;
        color: $color-one;
    }
}

/* ---------- Header ---------- */

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: $color-text-light;
    background: url("../images/header.png") no-repeat;
    background-position: center center;
    background-size: cover;
    
    .darker {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: rgba($color: #000000, $alpha: 0.5);
    }
}
    
.navigation {
    background: none;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    .logo {
        font-weight: 500;
        font-size: 32px;
        margin: 0;
        padding: 0;
        span {
            color: $color-one;
        }
    }
    
    #magnifying-glass {
        font-size: 0;
        i {
            font-size: 18px;
        }
    }

    #menu-toggle,label {
        display: none;
        font-size: 22px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;

        ul {
            list-style: none;
            display: flex;
            gap: 2rem;
        }

        li {
            margin-left: 65px; 
            font-weight: 600;
            text-transform: uppercase;
            overflow: hidden;
        }

        a {
            color: $color-text-light;
            transition: $transition;            
            &:hover {
                color: $color-one;
            }
        }
    }
}

.header-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: $color-text-light;
    
    h1 {
        margin: 0 auto;
        font-size: 60px;
        font-weight: 100;
        
        span {
            font-weight: 700;
        }
    }
    
    h2 {
        margin: 0 auto;
        font-size: 24px;
    }
    
    a {
        margin: 57px auto 0 auto;
    }
}

/*---------- About ----------*/

.about {
    margin-bottom: 108px;
    
    
    .card {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin-bottom: 106px;
        font-size: 0;
        
        a {
            text-align: center;
        }

        i {
            font-size: 53px;
            margin: 0 auto;
            background: $color-three;
            width: 182px;
            height: 182px;
            line-height: 182px;
            text-align: center;
            color: $color-text-light2;
            border-radius: 50%;
            transition: $transition;
            margin-bottom: 87px;
            
            &:hover {
                background: $color-one;
                color: $color-text-light;  
            }
        }
        
        h3 {
            margin: 0 auto;
            font-size: 30px;
        }
        p {
            color: $color-text-light2;
            margin: 46px auto 0 auto;
            font-size: 18px;
        }
    }
}

/*---------- Photo ----------*/

.photo {
    background: $color-three;

    p {
        font-size: 18px;
        font-weight: 400;
        color: $color-text-light2;
        margin: 72px 0;
    }

    .photo-text {
        height: 703px;
    }
}


#photo2 {
    background: $color-text-light;
}

.ceo {
    background: url('../images/ceo.png');
    background-position: center center;
    background-size: cover;
    height: 703px;

    .photo3 {
    background: url('../images/adam.png');
    background-position: center center;
    width: 104px;
    height: 104px;
    }

    h2 {
        font-weight: 300;
        font-size: 30px;
        color: $color-text-light;
        span {
            color: $color-one;
        }
    }

    p {
        color: $color-text-light2;
        font-size: 18px;
        margin: 0;
        span {
            font-weight: 600;
        }
    }
}

.photo1 {
    background: url("../images/camera.png") no-repeat;
    background-position: center center;
    background-size: 60%;
    filter: drop-shadow(10px 10px 15px #7c7c7c);
    height: 703px;
    width: 100%;
}

.photo2 {
    background: url("../images/computer.png") no-repeat;
    background-position: center center;
    background-size: 125%;
    height: 500px;
    width: 100%;
}

/* ---------- our services ---------- */

.services {
    background: $color-three;
    margin: 0;
    padding-bottom: 40px;

    .service-icon {
        flex: 0 0 20%;
        padding: 0;
        margin: 0;
    }

    .service-text {
        flex: 0 0 80%;
        margin: 0 0 90px 0;
        padding: 0 50px 0 0;
    }

    .row h2 {
        margin: 0;
        font-size: 60px;  
        color: $color-two;
        font-weight: 200;
    }

    a {
        font-size: 0;
    }

    i {
        font-size: 31px;
        margin: 0;
        padding: 0;
        background: $color-text-light;
        width: 94px;
        height: 94px;
        line-height: 94px;
        text-align: center;
        color: $color-one;
        border-radius: 50%;
        transition: $transition;
        
        &:hover {
            background: $color-one;
            color: $color-text-light;  
        }
    }
}

/* ---------- Meet our team ---------- */

.our-team {
    margin: 0;
    padding: 0;

    .team-photo {
        flex: 0 0 20%;
        background-position: center center;
        background-size: cover;
        height: 400px;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;

        p {
            font-size: 0;
            color: $color-text-light;
            font-weight: 300;
        }

        &:hover p {
            font-size: 36px;
        }
    }

    .photo4 {
        background: url('../images/team1.png') no-repeat;
        transition: $transition;

        &:hover {
            background: $color-one;
        }
    }
    .photo5 {
        background: url('../images/team2.png') no-repeat;
        transition: $transition;

        &:hover {
            background: $color-one;
        }
    }
    .photo6 {
        background: url('../images/team3.png') no-repeat;
        transition: $transition;

        &:hover {
            background: $color-one;
        }
    }
}

/* ---------- Pricing ---------- */

.pricing {
    background: $color-three;
    margin: 0;
    padding: 0 0 81px 0;
}

.box {
    flex: 1;
    background: $color-text-light;
    border-radius: 5px;
    width: 344px;
    margin: 0 15px 30px 15px;
    padding: 0;

    .box-header {
        height: 213px;
        margin: 0;
        padding: 0 34px;
        border-bottom: 2px solid $color-three;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p:first-child {
            font-size: 60px;
            font-weight: 200;
            color: $color-one;
            margin: 0;
        }
        p:last-child {
            margin: 0;
            font-size: 18px;
            font-weight: 200;
            color: $color-text-light2;
        }
    }

    .box-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 34px;
        height: 300px;
        font-size: 18px;
        font-weight: 500;
        color: $color-text-light2;
    }

    .box-footer {
        margin: 0;
        padding: 0 34px;
        height: 73px;
        width: 100%;
        background: $color-one;
        color: $color-text-light;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 0  0 5px 5px;
        transition: $transition;

        &:hover {
            background: $color-text-light;
            color: $color-one;
        }
    }
}

/* ---------- Map ---------- */
.map {
    background: url("../images/Map.png") no-repeat;
    background-position: right center;

    .photo-text {
        padding-right: 25px;
    }
}

/* ---------- Template ---------- */

.template {
    background: url('../images/template.png');
    background-position: center center;
    background-size: cover;
    height: 703px;

    h1 {
        font-weight: 100;
        font-size: 60px;
        color: $color-text-light;
        span {
            font-weight: 700;
        }
    }

}

/* ---------- Footer ---------- */

footer {
    height: 757px;
    background: url("../images/logo-big.png") no-repeat;
    background-position: center top;
}

.footer {
    background: none;
    width: 100%;
    padding-top: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo-photo {
        height: 26px;
        background: url("../images/logo-small.png") no-repeat;
        background-position: left top;

        a {
            margin-left: 50px;
        }
    }

    a {
        color: $color-text-light2;
        font-size: 18px;
        font-weight: 400;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;

        ul {
            list-style: none;
            display: flex;
            gap: 10px;
        }

        li {
            font-weight: 600;
            overflow: hidden;
            width: 75px;
            text-align: center;
        }

        a {
            font-weight: 400;
            transition: $transition;

            &:hover {
                font-weight: 700;
            }
        }
    }
    
}

/* ---------- Media ---------- */

@media (max-width: 700px) {

    .navigation {
        position: relative;

        .menu {
            overflow: hidden;
            position: absolute;
            top: 50px;
            left: 0;
            flex-direction: column;
            width: 100%;
            height: 0;
            justify-content: center;
            align-items: end;
            line-height: 1rem;

            ul {
                flex-direction: column;
                align-items: flex-end;
                padding: 0.5rem 0;
            }
        }

        label {
            display: inline-flex;
            cursor: pointer;  
        }

        #menu-toggle:checked ~ .menu {
            height: 300px;
        }
    }

    .template h1 {
        font-size: 30px;
    }

    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

    .header-inner {
        h1 {
            font-size: 35px;
        }
        h2 {
            font-size: 18px;
        }
    }

    .service-text {
        text-align: center;
    }

    .footer {
        position: relative;

        .footer-menu {
            position: absolute;
            top: 40px;
            right: 10px;
            flex-direction: column;
            justify-content: center;

            ul {
                flex-direction: column;
            }

            li {
                text-align: end;
            }
        }
    }

    .our-team  .team-photo{
        flex: none;
        width: 400px;
    }

    .col-6 {
        flex: none;
    }
    
    // .photo {
    //     .photo-text {
    //         padding: 0 0 50px 0;
    //         h2 {
    //             margin: 0;
    //         }
    //     }
    // }

    // #photo2 {
    //     .photo-text {
            
    //     }
    //     .photo2{
    //         height: 500px;
    //         width: 100%;
    //     }
    // }
  }